%section.artists#artists
	.artists-container
		%h1.artists-title
			Artists
		%h2.artists-subtitle
			-
		.artists-filter
			.artists-filter-button
				Proyectual Presents
			.artists-filter-button
				Crew Love
			.artists-filter-button
				Diynamic Outdoor
			.artists-filter-button
				DGTL
		.artists-grid
			- @artists.each do |artist|
				= link_to(festival_artist_path(params[:id],artist), class: 'artist-item') do
					- if artist.images.empty?
						.artist-item-ph{:style => "background-image: url(image-not-available.jpg)"}
					- else
						- artist.images.each do |image|
							.artist-item-ph{:style => "background-image: url(#{image.file.url(:large)})"}
					.artist-item-hover
						%p.artist-item-hover-caption
							#{artist.name}
							