<div id="player" data-turbolinks-permanent>
    <ol id="playlist" class="playlist"></ol>
    <div class="controls">
        <div class="player-button plist"><i class="fa fa-bars"></i></div>
        <div class="player-button stop"><i class="fa fa-stop"></i></div>
        <div class="player-button next"><i class="fa fa-forward"></i></div>
        <div class="player-button play"><i class="fa fa-play"></i></div> 
        <div class="player-button prev"><i class="fa fa-backward"></i></div>  
    </div>
    <div id="waveform">
        <div class="buffer"></div>
        <div class="played"></div>
        <img />
    </div>
</div>