%section.about
	.about-container
		%h1.about-title
			About
		%h2.about-subtitle
			-
		%p.about-body
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc sapien. Cras orci est, semper dapibus laoreet eget, interdum a velit. Sed imperdiet tellus est, eget commodo libero vehicula eu. Vestibulum pulvinar magna at feugiat venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse venenatis elementum congue. Pellentesque dapibus vestibulum mollis. Quisque et quam diam. Vivamus vestibulum, odio non dignissim mollis, dolor velit convallis metus, vitae viverra tortor risus ut turpis. Curabitur est nibh, feugiat ut aliquet quis, interdum sit amet velit. Duis condimentum arcu id ultrices efficitur. Donec vel ornare justo. 
			%br
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc sapien. Cras orci est, semper dapibus laoreet eget, interdum a velit. Sed imperdiet tellus est, eget commodo libero vehicula eu. Vestibulum pulvinar magna at feugiat venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse venenatis elementum congue. Pellentesque dapibus vestibulum mollis. Quisque et quam diam. Vivamus vestibulum, odio non dignissim mollis, dolor velit convallis metus, vitae viverra tortor risus ut turpis. Curabitur est nibh, feugiat ut aliquet quis, interdum sit amet velit. Duis condimentum arcu id ultrices efficitur. Donec vel ornare justo. 