%section.events#events
	.events-container
		%h1.events-title
			Events
		%h2.events-subtitle
			-
		.events-grid
			- @events.each do |event|
				= link_to(festival_event_path(params[:id],event), class: 'events-item') do
					- if event.images.empty?
						.events-item-ph{:style => "background-image: url(image-not-available.jpg)"}
					- else
						- event.images.each do |image|
							.events-item-ph{:style => "background-image: url(#{image.file.url(:large)})"}
					.events-item-hover
						%p.events-item-hover-caption
							+
					.events-item-caption
						%h2.events-item-caption-title
							#{event.name}
						%h3.events-item-caption-subtitle
							#{event.starts_on.to_date.to_formatted_s(:long)}

