- @theme.each do |theme|
	%header.header#header{:style => "background-image: url(#{theme.theme.intro_photo.url(:high)})"}
		.header-container
			%h1.header-title
				OFF AT FORUM
			%h2.header-subtitle
				OPEN AIR / DAY EVENTS / 2 STAGES / PRIVATE BEACH LOCATION 