%section.venues#venues
	.venues-container
		%h1.venues-title
			Location
		%h2.venues-subtitle
			-
		.venues-grid
			- @venues.each do |venue|
				= link_to(festival_venues_path(params[:id],venue), :class => "venues-item") do
					.venues-item-wrap
						- if venue.images.empty?
							.venues-item-ph{:style => "background-image: url(image-not-available.jpg)"}
						- else
							- venue.images.each do |image|
								.venues-item-ph{:style => "background-image: url(#{image.file.url(:large)})"}
						.venues-item-hover
							.venues-item-hover-caption
								%p.venues-item-hover-caption-text
									#{venue.name}
					.venues-item-caption
						%h2.venues-item-caption-title
							#{venue.name}
						%h3.venues-item-caption-subtitle