/*
  Off At Forum Theme
  ------------------
  01 - Basics
  02 - Nabvar
  03 - Header
  04 - Artists
  05 - News
  06 - Videos
  07 - Events
  08 - Venues
  09 - Sponsor
  10 - Footer
  11 - Custom Objects
*/


/* 01 - Basics */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

html {
  height: 100%;
}

h1, h2, h3 {
  transform: scale(1, 0.9);
}

.mix {
  display: none;
}

body {
  margin: 0;
  font-family: Roboto;
  height: 100%;
  background-position: top center;
  background-repeat: repeat-y;
  background-size: 100%;
  background-color: #a48446;
}
.main{
  float: left;
  width: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0.5;
}

.swiper-slide-active {
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

/* 02 - Navbar */

nav.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

nav.navbar .navbar-container {
  margin: 30px;
}

nav.navbar .navbar-header {
  position: relative;
  z-index: 2000;
}

nav.navbar .navbar-brand {
  text-indent: -9999px;
  width: 240px;
  display: block;
  float: left;
}

nav.navbar .navbar-brand img {
  width: 100%;
  height: auto;
  display: block;
}

nav.navbar .navbar-collapse {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(141, 73, 57, 0.8);
  top: 0;
  left: 0;
  z-index: -9999;
  opacity: 0;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
nav.navbar .navbar-collapse.show{
  opacity: 1;
  z-index: 1900;
}

nav.navbar .navbar-collapse ul.navbar-nav {
  text-align: right;
  list-style: none;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
  margin-top: 50px;
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
}

nav.navbar .navbar-collapse.show ul.navbar-nav {
  opacity: 1;
  margin-top: 0;
}
nav.navbar .navbar-collapse ul.navbar-nav li a {
  font-family: 'Roboto Condensed';
  color: #fff1c6;
  text-transform: uppercase;
  font-size: 3.5em;
  text-decoration: none;
}

nav.navbar .navbar-collapse ul.navbar-nav li a:hover, body.festivals nav.navbar .navbar-collapse ul.navbar-nav li a.active {
  color: #fff;
}

nav.navbar button.navbar-toggle {
  float: right;
  border: none;
  color: #fff;
  margin-top: 20px;
  font-family: 'Roboto Condensed';
  font-size: 1.25em;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

nav.navbar button.navbar-toggle .icon {
  width: 20px;
  height: 20px;
  position: relative;
  float: left;
  margin-right: 10px;
}

nav.navbar button.navbar-toggle .icon span {
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
  right: 0px;
  height: 2px;
  background: #fff;
}

nav.navbar button.navbar-toggle .icon span::before,
nav.navbar button.navbar-toggle .icon span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

nav.navbar button.navbar-toggle .icon span::before {
  top: -6px;
}

nav.navbar button.navbar-toggle .icon span::after {
  bottom: -6px;
}

nav.navbar .footer-social {
  text-align: center;
  width: 33.3333%;
  float: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  font-family: 'Roboto Condensed';
  color: #fff1c6;
}

nav.navbar .navbar-social-link {
  display: inline-block;
  height: 40px;
  margin: 10px 5px 0 5px;
  text-align: center;
  width: 40px;
}

nav.navbar .navbar-social-link span {
  border: 2px solid #fff1c6;
  border-radius: 100%;
  display: block;
  height: 100%;
  opacity: 0.6;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 100%;
}

nav.navbar .navbar-social-link span .fa {
  color: #fff1c6;
  font-size: 20px;
  margin-top: 10px;
}

nav.navbar .navbar-social-link:hover span {
  border: 3px solid #fff;
  color: #fff;
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

nav.navbar .navbar-social-link:hover .fa {
  color: #fff;
}

/* 03 - Header */


body.festivals header.header {
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body.festivals header.header .header-container {
  width: 1130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.festivals header.header .header-container h1.header-title {
  font-family: 'Roboto Condensed';
  color: #fff;
  font-size: 110px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  line-height: 1;
}

body.festivals header.header .header-container h2.header-subtitle {
  font-family: 'Roboto Condensed';
  color: #fff1c6;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  font-size: 27.5px;
  letter-spacing: -1px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  line-height: 1;
}

/* 04 - Artists */

body.festivals section.artists {
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  padding: 100px 0 0px 0;
  text-align: center;
}

body.festivals section.artists .artists-container {
  width: 1130px;
  margin: 0 auto;
}

body.festivals section.artists .artists-filter {
  width: 100%;
  text-align: center;
  padding: 15px 0 30px 0;
}

body.festivals section.artists .artists-filter-button {
  border: 3px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  cursor: pointer;
}

body.festivals section.artists h1.artists-title {
  border-bottom: 6px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: "Roboto Condensed";
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0 0 30px;
  padding-bottom: 4px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

body.festivals section.artists h2.artists-subtitle {
  display: none;
}

body.festivals section.artists .artists-grid {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

body.festivals section.artists a.artists-item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

body.festivals section.artists .artists-item-ph {
  display: none;
}

body.festivals section.artists .artists-item-hover {
  display: none;
}

body.festivals section.artists a.artists-item:hover .artist-item-hover {
  opacity: 1;
}

body.festivals section.artists a.artists-item:hover p.artists-item-hover-caption {
  margin-top: 0;
}

body.festivals section.artists .artists-item-caption h2.artists-item-caption-title {
  color: #fff1c6;
  font-weight: 400;
  font-family: 'Roboto Condensed';
  font-size: 40px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;

}
body.festivals section.artists .artists-item-caption h2.artists-item-caption-title::after {
    content: " / ";
} 
body.festivals section.artists .artists-item-caption h2.artists-item-caption-title:last-child::after {
    content: "";
} 

body.festivals section.artists.animated a.artist-item {
  opacity: 1;
  margin-top: 0;
}

/* 05 - News */

body.festivals section.news {
  overflow: hidden;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0;
}

body.festivals section.news .news-container {
  width: 1130px;
  margin: 0 auto;
  text-align: center;
}

body.festivals section.news .news-container .news-filter {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

body.festivals section.news .news-container .news-filter .news-filter-button {
  color: #fff;
  border: 3px solid #fff;
  display: inline-block;
  padding: 15px 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  width: 240px;
}

body.festivals section.news .news-container h1.news-title {
  border-bottom: 6px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: "Roboto Condensed";
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0 0 30px;
  padding-bottom: 4px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

body.festivals section.news .news-container h2.news-subtitle {
  display: none;
}

body.festivals section.news .news-container .news-grid {
  width: 100%;
  text-align: center;
}

body.festivals section.news .news-container a.news-item {
  margin: 10px;
  width: 720px;
  height: 405px;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

body.festivals section.news .news-container a.news-item .news-item-ph {
  height: 380px;
  width: 695px;
  margin: 12.5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body.festivals section.news .news-container a.news-item .news-item-hover {
  height: 100%;
  width: 100%;
  background-color: rgba(141, 73, 57, 0.5);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.festivals section.news .news-container a.news-item p.news-item-hover-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.festivals section.news .news-container a.news-item .news-item-caption {
  text-align: center;
}

body.festivals section.news .news-container a.news-item .news-item-caption h2.news-item-caption-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin: 15px 0 0 0;
  font-family: 'Roboto Condensed';
  font-size: 18px;
}

body.festivals section.news .news-container a.news-item .news-item-caption h3.news-item-caption-subtitle {
  color: #fff1c6;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  font-family: 'Roboto Condensed';
  font-size: 18px;
}

body.festivals section.news .news-container a.news-item:hover .news-item-hover {
  opacity: 1;
}

body.festivals section.news .news-container a.news-item:hover p.news-item-hover-caption {
  margin-top: 0;
}

/* 06 - Videos */

body.festivals section.videos {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

body.festivals section.videos .videos-container {
  width: 1130px;
  margin: 0 auto;
}

body.festivals section.videos .videos-container .videos-filter {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

body.festivals section.videos .videos-container .videos-filter .videos-filter-button {
  color: #fff;
  border: 3px solid #fff;
  display: inline-block;
  padding: 15px 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  width: 240px;
}

body.festivals section.videos .videos-container h1.videos-title {
  display: none;
}

body.festivals section.videos .videos-container h2.videos-subtitle {
  display: none;
}

body.festivals section.videos .videos-container .videos-grid {
  width: 100%;
  text-align: center;
}

body.festivals section.videos .videos-container a.videos-item {
  margin: 10px;
  width: 560px;
  height: 560px;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

body.festivals section.videos .videos-container a.videos-item .videos-item-wrap {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  width: 560px;
  height: 560px;
  display: inline-block;
}

body.festivals section.videos .videos-container a.videos-item .videos-item-ph {
  height: 530px;
  width: 530px;
  margin: 15px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body.festivals section.videos .videos-container a.videos-item .videos-item-hover {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.festivals section.videos .videos-container a.videos-item .videos-item-hover-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.festivals section.videos .videos-container a.videos-item p.videos-item-hover-caption-text {
  display: none;
}

body.festivals section.videos .videos-container a.videos-item p.videos-item-hover-caption-icon {
  text-transform: uppercase;
  font-size: 4em;
  margin-top: 10px;
  color: #fff;
  margin: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.festivals section.videos .videos-container a.videos-item .videos-item-caption {
  display: none;
}

body.festivals section.videos .videos-container a.videos-item .videos-item-caption h2.videos-item-caption-title {
  display: none;
}

body.festivals section.videos .videos-container a.videos-item .videos-item-caption h3.videos-item-caption-subtitle {
  display: none;
}

body.festivals section.videos .videos-container a.videos-item:hover .videos-item-hover {
  background-color: rgba(141, 73, 57, 0.5);
}

body.festivals section.videos .videos-container a.videos-item:hover p.videos-item-hover-caption {
  margin-top: 0;
}

/* 07 - Events */

body.festivals section.events {
  padding: 100px 0;
  text-align: center;
}

body.festivals section.events .events-container {
  width: 1130px;
  margin: 0 auto;
}

body.festivals section.events h1.events-title {
  border-bottom: 6px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: "Roboto Condensed";
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0 0 30px;
  padding-bottom: 4px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

body.festivals section.events p.events-body {
  line-height: 1.5;
  color: #fff1c6;
}

body.festivals section.events a.events-item {
  width: 202.5px;
  height: 202.5px;
  margin: 40px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

body.festivals section.events a.events-item .events-item-ph {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body.festivals section.events a.events-item .events-item-hover {
  display: none;
}

body.festivals section.events a.events-item p.events-item-hover-caption {
  display: none;
}

body.festivals section.events a.events-item .events-item-caption {
  text-align: center;
}

body.festivals section.events a.events-item .events-item-caption h2.events-item-caption-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin: 15px 0 0 0;
  font-size: 18px;
  font-family: 'Roboto Condensed';
}

body.festivals section.events a.events-item .events-item-caption h3.events-item-caption-subtitle {
  color: #fff1c6;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  font-family: 'Roboto Condensed';
}

body.festivals section.events a.events-item:hover {
  opacity: 0.85;
}


/* 08 - Venues */


body.festivals section.venues {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
}

body.festivals section.venues .venues-container {
  width: 1130px;
  margin: 0 auto;
}

body.festivals section.venues .venues-container .venues-filter {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

body.festivals section.venues .venues-container .venues-filter .venues-filter-button {
  color: #fff;
  border: 3px solid #fff;
  display: inline-block;
  padding: 15px 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  width: 240px;
}

body.festivals section.venues .venues-container h1.venues-title {
  border-bottom: 6px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: "Roboto Condensed";
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0 0 30px;
  padding-bottom: 4px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

body.festivals section.venues .venues-container h2.venues-subtitle {
  display: none;
}

body.festivals section.venues .venues-container .venues-grid {
  width: 100%;
  text-align: center;
}

body.festivals section.venues .venues-container a.venues-item {
  margin: 10px;
  width: 960px;
  height: 406px;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

body.festivals section.venues .venues-container a.venues-item .venues-item-wrap {
  background-color: rgba(255, 255, 255, 0.1);
  width: 960px;
  height: 406px;
  display: inline-block;
}

body.festivals section.venues .venues-container a.venues-item .venues-item-ph {
  height: 381px;
  width: 935px;
  margin: 12.5px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

body.festivals section.venues .venues-container a.venues-item .venues-item-hover {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(141, 73, 57, 0.5);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

body.festivals section.venues .venues-container a.venues-item .venues-item-hover-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

body.festivals section.venues .venues-container a.venues-item p.venues-item-hover-caption-text {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 10px;
  text-indent: -9999px;
  color: #fff;
  margin: 0;
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

body.festivals section.venues .venues-container a.venues-item .venues-item-caption h2.venues-item-caption-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin: 15px 0 0 0;
  font-family: 'Roboto Condensed';
  font-size: 24px;
}

body.festivals section.venues .venues-container a.venues-item .venues-item-caption h3.venues-item-caption-subtitle {
  color: #fff1c6;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  font-family: 'Roboto Condensed';
  font-size: 18px;
}

body.festivals section.venues .venues-container a.venues-item:hover .venues-item-hover {
  opacity: 1;
}

body.festivals section.venues .venues-container a.venues-item:hover p.venues-item-hover-caption {
  margin-top: 0;
}

/* 09 - Sponsors */

body.festivals section.sponsors {
  padding: 0 0 100px 0;
}

body.festivals section.sponsors .sponsors-container {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

body.festivals section.sponsors h1.sponsors-title {
  display: none;
}

body.festivals section.sponsors p.sponsors-body {
  line-height: 1.5;
  color: #fff1c6;
}

body.festivals section.sponsors a.sponsors-item {
  width: 220px;
  height: 220px;
  margin: 20px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

body.festivals section.sponsors a.sponsors-item .sponsors-item-ph {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body.festivals section.sponsors a.sponsors-item .sponsors-item-hover {
  display: none;
}

body.festivals section.sponsors a.sponsors-item p.sponsors-item-hover-caption {
  display: none;
}

body.festivals section.sponsors a.sponsors-item .sponsors-item-caption {
  display: none;
  text-align: center;
}

body.festivals section.sponsors a.sponsors-item .sponsors-item-caption h2.sponsors-item-caption-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin: 15px 0 0 0;
  font-size: 18px;
  font-family: 'Roboto Condensed';
}

body.festivals section.sponsors a.sponsors-item .sponsors-item-caption h3.sponsors-item-caption-subtitle {
  color: #fff1c6;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  font-family: 'Roboto Condensed';
}

body.festivals section.sponsors a.sponsors-item:hover {
  opacity: 0.85;
}

/* 10 - Footer */

footer.footer {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  float: left;
  width: 100%;
}

footer.footer .footer-container {
  width: 1130px;
  margin: 0 auto;
}

footer.footer .footer-copyright {
  text-align: left;
  width: 33.3333%;
  float: left;
}

footer.footer .footer-copyright-text {
  color: #fff1c6;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  font-family: 'Roboto Condensed';
  margin-top: 32px;
}

footer.footer .footer-social {
  text-align: center;
  width: 33.3333%;
  float: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  font-family: 'Roboto Condensed';
  color: #fff1c6;
}

footer.footer .footer-social-link {
  display: inline-block;
  height: 60px;
  margin: 0 5px;
  text-align: center;
  width: 60px;
}

footer.footer .footer-social-link span {
  border: 3px solid #fff1c6;
  border-radius: 100%;
  display: block;
  height: 100%;
  opacity: 0.6;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 100%;
}

footer.footer .footer-social-link span .fa {
  color: #fff1c6;
  font-size: 24px;
  margin-top: 18px;
}

footer.footer .footer-noise {
  text-align: right;
  width: 33.3333%;
  float: left;
}

footer.footer .footer-noise-link {
  color: #fff1c6;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  font-family: 'Roboto Condensed';
  margin-top: 32px;
}

footer.footer .footer-noise-link a {
  color: #fff1c6;
}

footer.footer .footer-social-link:hover span {
  border: 3px solid #fff;
  color: #fff;
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

footer.footer .footer-social-link:hover .fa {
  color: #fff;
}

/* 11 - Custom Objects */

.animated-objects {
  width: 100%;
  height: 4000px;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -9999;
}

.object {
  display: block;
  position: absolute;
}

.quarter {
  background: image-url("quarter.png");
  width: 540px;
  height: 510px;
}

.object.ball {
  background: image-url("ball.png");
  width: 540px;
  height: 510px;
}

.object.cube {
  background: image-url("cube.png");
  width: 540px;
  height: 510px;
}

.object.header {
  background-image: image-url("header.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 752px;
}
