- title "#{@festival.name} - Videos"

.left
  %p= @festival.menu_title_videos
.section.video
  .vcenter
    .container
      .row
        - @festival.videos.each do |video|
          = link_to video.link, class: 'swipebox' do
            .col-md-8.col-md-offset-2.sixteen-nine.animate-box.text-center{"data-animate-effect" => "fadeInUp"}
              .image.cover{:style => "background-image: url(#{video.image.url(:medium)})"}
              %i.fa.fa-play
