@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700";
@import "https://fonts.googleapis.com/css?family=Raleway:200,400,700";
html, body {
    height: 100%;
    position: relative;
}
body {
    background: #fff none repeat scroll 0 0;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.site-canvas {
    margin-left: 100px;
}
.text-muted {
    color: #000;
}
.text-primary {
    color: #84b6bc;
}
p {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0 none;
}
a {
    color: #606060;
}
a:hover, a:focus, a:active, a.active {
    color: #808080;
    font-family: "GothamLight","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin: 25px 0;
}
h1 {
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
}
h2, h3 {
    font-family: "GothamMedium","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h4, h5, h6 {
    font-family: "GothamLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
}
p {
    font-family: "GothamLight","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.no-gutter > [class*="col-"], .no-gutter > .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.img-centered {
    margin: 0 auto;
}
.img-full img {
    width: 100%;
}
section.full-height {
    height: 100%;
}
section.full-height .section-box {
    padding: 0 45px;
}
section.full-height .slider {
    height: 100%;
}
section.full-height > div {
    height: 100%;
}
section.full-height .full-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
section.full-height .full-image a.video-button {
    color: #fff;
    display: block;
    font-size: 68px;
    text-align: center;
}
.vcenter {
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
}
.bg-white {
    background-color: #fff;
}
.bg-light-gray {
    background-color: #f2f2f2;
}
.bg-green {
    background-color: #84b6bc;
    color: #fff;
}
.bg-darkest-gray {
    background-color: #202020;
}
.bg-black {
    background-color: #000;
}
.btn-lg, .btn-group-lg > .btn {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    padding: 5px 35px;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 5px 25px;
}
.btn-primary {
    background-color: #84b6bc;
    border-color: #84b6bc;
    color: #fff;
    font-family: "raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #fec503;
    border-color: #f6bf01;
    color: #fff;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #84b6bc;
    border-color: #84b6bc;
}
.btn-primary .badge {
    background-color: #fff;
    color: #84b6bc;
}
.btn-black {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    color: #000;
    font-family: "raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
.btn-black:hover, .btn-black:focus, .btn-black:active, .btn-black.active, .open .dropdown-toggle.btn-black {
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.btn-black:active, .btn-black.active, .open .dropdown-toggle.btn-black {
    background-image: none;
}
.btn-white {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0;
    color: #fff;
    font-family: "raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}
.btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
    background-image: none;
}
.btn-xl {
    background-color: transparent;
    border: 4px solid #fff;
    border-radius: 0;
    color: #fff;
    font-family: "raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    padding: 20px 40px;
    position: relative;
    text-transform: uppercase;
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}
.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-image: none;
}
.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl.active[disabled], fieldset[disabled] .btn-xl.active {
    background-color: #fff;
    border-color: #fff;
}
.btn-xl .badge {
    background-color: #fff;
    color: #84b6bc;
}
.btn-xl-invert {
    background-color: transparent;
    border: 4px solid #000;
    border-radius: 0;
    color: #000;
    font-family: "raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    padding: 20px 40px;
    text-transform: uppercase;
}
.btn-xl-invert:hover, .btn-xl-invert:focus, .btn-xl-invert:active, .btn-xl-invert.active, .open .dropdown-toggle.btn-xl-invert {
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.btn-xl-invert:active, .btn-xl-invert.active, .open .dropdown-toggle.btn-xl-invert {
    background-image: none;
}
.btn-xl-invert.disabled, .btn-xl-invert[disabled], fieldset[disabled] .btn-xl-invert, .btn-xl-invert.disabled:hover, .btn-xl-invert[disabled]:hover, fieldset[disabled] .btn-xl-invert:hover, .btn-xl-invert.disabled:focus, .btn-xl-invert[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl-invert.disabled:active, .btn-xl-invert[disabled]:active, fieldset[disabled] .btn-xl-invert:active, .btn-xl-invert.disabled.active, .btn-xl-invert.active[disabled], fieldset[disabled] .btn-xl-invert.active {
    background-color: #000;
    border-color: #000;
}
.btn-xl-invert .badge {
    background-color: #fff;
    color: #000;
}
.btn-xl-noborder {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-family: "raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    padding: 15px 75px;
    position: relative;
    text-transform: uppercase;
}
.btn-xl-noborder p {
    font-size: 32px;
    letter-spacing: 0.35rem;
    margin: 0;
}
.btn-xl-noborder:hover, .btn-xl-noborder:focus, .btn-xl-noborder:active, .btn-xl-noborder.active, .open .dropdown-toggle.btn-xl {
    background-color: transparent;
    color: #fff;
}
.btn-xl-noborder:active, .btn-xl-noborder.active, .open .dropdown-toggle.btn-xl {
    background-image: none;
}
.btn-xl-noborder .lines {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Navigation */
nav {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  transition: all .6s;
}
nav .second-menu {
  background-color: #fff;
  padding: 0 30px;
}
nav .second-menu a {
  color: #101010;
}
nav .box {
  padding-top: 20px;
  padding-bottom: 20px;
}
nav .logo {
  height: 43px;
  margin-left: 15px;
}
nav .logo img {
  height: 100%;
}
nav .btn {
  margin-top: 7px;
}
nav .btn-nav {
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  text-transform: uppercase;
  border-radius: 0px;
  font-weight: 700;
  letter-spacing: .5px;
}
nav .btn-nav:hover,
nav .btn-nav:focus,
nav .btn-nav:active,
nav .btn-nav.active,
nav .open .dropdown-toggle.btn-nav {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
nav .list-inline {
  margin: 5px 0;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 15px 0 0;
  padding: 0;
  width: 30px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 0px;
  right: 0px;
  height: 2px;
  background: #fff;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx {
  background-color: transparent;
}

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}

ul.social-buttons-nav li a {
  display: block;
  font-size: 20px;
  line-height: 40px;
  color: #000;
  outline: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all 0.3s;
}

ul.social-buttons-nav li a:hover,
ul.social-buttons-nav li a:focus,
ul.social-buttons-nav li a:active {
  color: #84b6bc;
}

.menu-inner {
  position: relative;
  top: 50%;
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  opacity: 0;
  margin-top: 20px;
  text-align: center;
  transform: translate(0, -50%);
}
.menu-inner a {
  font-family: 'Roboto';
  width: 100%;
  letter-spacing: 0.025em;
  font-weight: 300;
  font-size: 24px;
  color: #101010;
  width: 100%;
  display: block;
  line-height: 3;
}
.menu-inner a:hover {
  color: #606060;
}

.menu-right {
  z-index: 1031;
  width: 100%;
  top: -100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  position: fixed;
  left: 0;
}

.menu-left {
  z-index: 1031;
  width: 100%;
  bottom: -100%;
  height: 100%;
  background-color: #000;
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  position: fixed;
}

.menu-inner.active {
  margin-top: 0px;
  opacity: 1;
}
.menu-inner.active a {
  text-decoration: none;
}

.menu-left.active {
  bottom: 0;
}

.menu-right.active {
  top: 0;
}

.home nav, .events.show nav {
  position: absolute;
  background-color: #000;
  border: 0px;
}
.home nav .second-menu, .events.show nav .second-menu {
  background-color: transparent;
  border: 0px;
}
.home nav .btn-nav, .events.show nav .btn-nav {
  color: #fff;
  border: 2px solid #fff;
}
.home nav .btn-nav:hover,
.home nav .btn-nav:focus,
.home nav .btn-nav:active,
.home nav .btn-nav.active,
.home nav .open .dropdown-toggle.btn-nav, .events.show nav .btn-nav:hover,
.events.show nav .btn-nav:focus,
.events.show nav .btn-nav:active,
.events.show nav .btn-nav.active,
.events.show nav .open .dropdown-toggle.btn-nav {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.home nav.shrink, .events.show nav.shrink {
  background-color: #101010;
  border-bottom: 1px solid #333;
}
.home nav.shrink .second-menu, .events.show nav.shrink .second-menu {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.home nav.shrink .second-menu a, .events.show nav.shrink .second-menu a {
  color: #101010;
}
.home ul.social-buttons-nav li a, .events.show ul.social-buttons-nav li a {
  color: #fff;
}

@media (min-width: 768px) {
  nav {
    background-color: #000;
  }
  nav .box {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .home nav, .events.show nav {
    background-color: transparent;
  }

  .menu-left {
    width: 50%;
  }

  .menu-right {
    width: 50%;
    left: 50%;
  }
}

/* Header*/

header {
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: 309px;
    text-align: center;
}
header .swiper-container {
    height: 100%;
    width: 100%;
}
header .swiper-slide {
    align-items: center;
    background: #fff none repeat scroll center center / cover ;
    display: flex;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    width: 100%;
}
header .swiper-slide-active .lines .line {
    transition: all 0.5s ease-in-out 0.5s;
}
header .swiper-slide-active .lines .line.top {
    background-color: #fff;
    transform: translateX(0px);
}
header .swiper-slide-active .lines .line.bottom {
    background-color: #fff;
    transform: translateX(0px);
}
header .swiper-slide-active .lines .line.left {
    background-color: #fff;
    transform: translateY(0px);
}
header .swiper-slide-active .lines .line.right {
    background-color: #fff;
    transform: translateY(0px);
}
header .swiper-caption {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
header .swiper-caption .swiper-caption-inner {
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
}
header .swiper-caption .swiper-caption-inner h1 {
    color: #fff;
    margin: 0;
}
header .swiper-caption .swiper-caption-inner p {
    color: #fff;
    letter-spacing: 3px;
}
header .swiper-caption .swiper-caption-inner a {
    margin-bottom: 10px;
}
header .swiper-caption .lines .line.top, header .swiper-caption .lines .line.bottom {
    height: 2px;
    width: 100%;
}
header .swiper-caption .lines .line.left, header .swiper-caption .lines .line.right {
    height: 100%;
    width: 2px;
}
header .swiper-pagination {
    bottom: 45px;
    left: 45px;
}
header .swiper-pagination .swiper-pagination-bullet {
    display: block;
    margin: 5px 0;
}
header .intro-text {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
header .intro-text p {
    letter-spacing: 8px;
}
header .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
}
header .intro-text .intro-heading {
    font-family: "raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    letter-spacing: 8px;
    line-height: 50px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
header .intro-text .intro-heading-button p {
    color: #fff;
    margin-top: -18px;
    position: relative;
    text-decoration: none;
    top: 50%;
}
.mainevent {
    background-color: #101010;
    color: #fff;
    overflow: hidden;
    text-align: center;
}
.mainevent .ph {
    background-attachment: scroll;
    background-image: url("../img/header-bg.jpg");
    background-position: center center;
    background-size: cover;
    filter: grayscale(100%);
    height: 100%;
    opacity: 0.1;
    transform: scale(1);
    transition: all 0.5s ease 0s;
    width: 100%;
}
.mainimage {
    background-color: #101010;
    color: #fff;
    overflow: hidden;
    text-align: center;
}
.mainimage .ph {
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100%;
    opacity: 1;
    width: 100%;
}
@media (min-width: 768px) {
header .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
}
header .intro-text .intro-heading {
    font-family: "raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
}
section .slider {
    height: 360px;
}
section .slider .swiper-pagination {
    bottom: 40px;
    width: 100%;
}
section .slider .swiper-pagination .swiper-pagination-bullet {
    margin: 0 2.5px;
}
section .slider .swiper-button-prev, section .slider .swiper-container-rtl .swiper-button-next {
    left: 40px;
}
section .slider .swiper-button-next, section .slider .swiper-container-rtl .swiper-button-prev {
    right: 40px;
}
section .slider .swiper-slide {
    background-position: center center;
    background-size: cover;
}
section:last-child {
    margin-bottom: 0;
}
section h2.section-heading {
    color: #101010;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 3px;
}
section h3.section-heading {
    color: #101010;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 3px;
}
section .section-hr {
    background-color: #fff;
    display: inline-block;
    height: 3px;
    margin: 15px 0;
    width: 35px;
}
section .section-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
section h3.section-subheading, section h4.section-subheading {
    color: #606060;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.75px;
    margin: 0;
    text-transform: uppercase;
}
section .section-body p {
    color: #606060;
    font-family: "Roboto";
    text-align: justify;
    text-transform: none;
}
section .section-links {
    margin-bottom: 15px;
}
section .section-links a {
    color: #fff;
    text-align: justify;
    text-transform: none;
}
section .section-subinfo {
    text-align: center;
}
section .section-subinfo h2.section-heading {
    color: #000;
    font-family: "Roboto";
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0.25px;
    text-align: left;
}
section .section-subinfo h3.section-subheading, section .section-subinfo h4.section-subheading {
    color: #000;
    line-height: 1.5;
    margin-bottom: 17px;
    text-align: left;
}
section .section-subinfo .section-body {
    margin-top: 15px;
}
section .section-subinfo .section-body p {
    color: #575757;
    font-size: 16px;
    font-weight: 300;
}
section .section-subinfo .section-hr {
    display: block;
}
section .section-subinfo ul.social-buttons li a {
    background-color: transparent;
    color: #606060;
}
section .section-subinfo ul.social-buttons li a:hover, section .section-subinfo ul.social-buttons li a:focus, section .section-subinfo ul.social-buttons li a:active {
    background-color: transparent;
    color: #444;
}
section .section-subinfo.white h2.section-heading, section .section-subinfo.white h3.section-subheading, section .section-subinfo.white h4.section-subheading, section .section-subinfo.white p {
    color: #fff;
}
section .no-margin {
    margin: 0 !important;
}
section .section-box {
    padding: 45px;
}
section .section-box-alt {
    padding: 0 45px;
}
section .section-box-double {
    margin: 90px;
}
section.bg-white h2.section-heading {
    color: #000;
}
section.bg-white h3.section-subheading {
    color: #202020;
}
section.bg-white .section-body p {
    color: #666;
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
}
.grid .grid-item {
    margin: 0;
    right: 0;
}
.grid .grid-item .grid-link {
    background: #000 none repeat scroll 0 0;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.grid .grid-item .grid-link .grid-hover {
    height: 100%;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.grid .grid-item .grid-link .grid-hover .grid-hover-content {
    color: #fff;
    font-size: 20px;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}
.grid .grid-item .grid-link .grid-hover .grid-hover-content p {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25em;
    margin-top: 0;
    opacity: 0;
    position: relative;
    text-transform: uppercase;
    top: 50%;
    transition: all 0.5s ease 0s;
    z-index: -1;
}
.grid .grid-item .ph {
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;
    opacity: 0.35;
    transform: scale(1);
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: -1;
}
.grid .grid-item .grid-caption {
    background-color: #fff;
    margin: 0 auto;
    padding: 45px;
}
.grid .grid-item .grid-caption h4 {
    color: #000;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 700;
    margin: 5px 0 0;
    text-transform: uppercase;
}
.grid .grid-item .grid-caption p {
    color: #444;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.75px;
    line-height: 1.25;
    margin: 10px 0 0;
}
.grid .grid-item:hover .grid-link .grid-hover .grid-hover-content p {
    margin-top: -18px;
    opacity: 1;
}
.grid .grid-item:hover .grid-link .grid-hover .grid-hover-content i {
    margin-top: -12px;
}
.grid .grid-item:hover .grid-link .grid-hover .grid-hover-content h3, .grid .grid-item:hover .grid-link .grid-hover .grid-hover-content h4 {
    margin: 0;
}
.grid .grid-item:hover .ph {
    filter: grayscale(0%);
    opacity: 0.8;
    transform: scale(1.1);
}
.grid .grid-item:last-child .item-async:first-child {
    float: right;
}
.grid * {
    z-index: 2;
}
.row-async:nth-child(2n) p.year-number {
    right: 0;
}
.row-async:nth-child(2n) .col-async-left {
    float: right;
}
section#about {
    padding: 60px 0;
}
section#about button.btn-black {
    margin: 25px 0;
}
section#contact {
    background-color: #222;
    background-image: url("../img/map-image.png");
    background-position: center center;
    background-repeat: no-repeat;
}
section#contact .section-heading {
    color: #fff;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #84b6bc;
    box-shadow: none;
}
section#contact:-moz-placeholder {
    color: #bbb;
    font-family: "raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
section#contact::-moz-placeholder {
    color: #bbb;
    font-family: "raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
section#contact .text-danger {
    color: #e74c3c;
}
section#events .year {
    position: relative;
}
section#events .year p.year-number {
    color: #fff;
    font-size: 48px;
    margin: 0;
    padding: 30px 0;
    text-align: center;
}
footer {
    background-color: #000;
    padding: 60px 50px;
    text-align: center;
}
footer .footmenu {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}
footer .footmenu a {
    color: #fff;
    display: block;
    width: 100%;
}
footer .footmenu a:hover {
    color: #606060;
    text-decoration: none;
}
footer span.copyright {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
    text-transform: none;
}
footer ul.quicklinks {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 20px;
    line-height: 40px;
    margin: 0 5px;
    outline: 0 none;
    text-align: center;
    transition: all 0.3s ease 0s;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    color: #606060;
}
.share-button {
    float: left;
    padding-bottom: 20px;
    width: 100%;
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
    outline: 0 none;
}
.grid-modal .modal-content {
    background-clip: border-box;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}
.grid-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}
.grid-modal .modal-content p {
    margin-bottom: 30px;
}
.grid-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
}
.grid-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0;
}
.grid-modal .modal-content img {
    margin-bottom: 30px;
}
.grid-modal .close-modal {
    background-color: transparent;
    cursor: pointer;
    height: 75px;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 75px;
}
.grid-modal .close-modal:hover {
    opacity: 0.3;
}
.grid-modal .close-modal .lr {
    background-color: #222;
    height: 75px;
    margin-left: 35px;
    transform: rotate(45deg);
    width: 1px;
    z-index: 1051;
}
.grid-modal .close-modal .lr .rl {
    background-color: #222;
    height: 75px;
    transform: rotate(90deg);
    width: 1px;
    z-index: 1052;
}
.grid-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
*::-moz-selection {
    background: #84b6bc none repeat scroll 0 0;
    text-shadow: none;
}
img::-moz-selection {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
body {
}
.carousel .swiper-container {
    height: 264px;
    margin: 0 auto;
    width: 100%;
}
.carousel .swiper-slide {
    align-items: center;
    background: #fff none repeat scroll 0 0;
    display: flex;
    font-size: 18px;
    justify-content: center;
    text-align: center;
}
.lines {
    height: calc(100% - 40px);
    left: 20px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    width: calc(100% - 40px);
}
.lines .line {
    background-color: #84b6bc;
    position: absolute;
    transition: all 0.5s ease-in-out 0s;
}
.lines:hover .line {
    background-color: #fff;
}
.lines .line.top, .lines .line.bottom {
    height: 2px;
    width: 100%;
}
.lines .line.top {
    left: 0;
    top: 0;
    transform: translateX(-100%);
}
.lines:hover .line.top {
    transform: translateX(0px);
}
.lines .line.bottom {
    bottom: 0;
    right: 0;
    transform: translateX(100%);
}
.lines:hover .line.bottom {
    transform: translateX(0px);
}
.lines .line.left, .lines .line.right {
    height: 100%;
    width: 2px;
}
.lines .line.left {
    left: 0;
    top: 0;
    transform: translateY(100%);
}
.lines:hover .line.left {
    transform: translateY(0px);
}
.lines .line.right {
    bottom: 0;
    right: 0;
    transform: translateY(-100%);
}
.lines:hover .line.right {
    transform: translateY(0px);
}
nav {
    background-color: #000;
    left: 0;
    position: relative;
    top: 0;
    transition: all 0.6s ease 0s;
    width: 100%;
    z-index: 1040;
}
nav .second-menu {
    background-color: #fff;
    padding: 0 30px;
}
nav .second-menu a {
    color: #101010;
}
nav .box {
    padding-bottom: 20px;
    padding-top: 20px;
}
nav .logo {
    height: 43px;
    margin-left: 15px;
}
nav .logo img {
    height: 100%;
}
nav .btn {
    margin-top: 7px;
}
nav .btn-nav {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    color: #000;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
nav .btn-nav:hover, nav .btn-nav:focus, nav .btn-nav:active, nav .btn-nav.active, nav .open .dropdown-toggle.btn-nav {
    background-color: #000;
    border-color: #000;
    color: #fff;
}
nav .list-inline {
    margin: 5px 0;
}
.c-hamburger {
    -moz-appearance: none;
    border: medium none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 45px;
    margin: 0 15px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    transition: background 0.3s ease 0s;
    width: 30px;
}
.c-hamburger:focus {
    outline: medium none;
}
.c-hamburger span {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 22px;
}
.c-hamburger span::before, .c-hamburger span::after {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}
.c-hamburger span::before {
    top: -10px;
}
.c-hamburger span::after {
    bottom: -10px;
}
.c-hamburger--htx {
    background-color: transparent;
}
.c-hamburger--htx span {
    transition: background 0s ease 0.3s;
}
.c-hamburger--htx span::before, .c-hamburger--htx span::after {
    transition-delay: 0.3s, 0s;
    transition-duration: 0.3s, 0.3s;
}
.c-hamburger--htx span::before {
    transition-property: top, transform;
}
.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}
.c-hamburger--htx.is-active span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before, .c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}
ul.social-buttons-nav li a {
    color: #000;
    display: block;
    font-size: 20px;
    line-height: 40px;
    outline: 0 none;
    transition: all 0.3s ease 0s;
}
ul.social-buttons-nav li a:hover, ul.social-buttons-nav li a:focus, ul.social-buttons-nav li a:active {
    color: #84b6bc;
}
.menu-inner {
    margin-top: 20px;
    opacity: 0;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0px, -50%);
    transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
.menu-inner a {
    color: #101010;
    display: block;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 3;
    width: 100%;
}
.menu-inner a:hover {
    color: #606060;
}
.menu-right {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: -100%;
    transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    width: 100%;
    z-index: 1031;
}
.menu-left {
    background-color: #000;
    bottom: -100%;
    height: 100%;
    position: fixed;
    transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    width: 100%;
    z-index: 1031;
}
.menu-inner.active {
    margin-top: 0;
    opacity: 1;
}
.menu-inner.active a {
    text-decoration: none;
}
.menu-left.active {
    bottom: 0;
}
.menu-right.active {
    top: 0;
}
.home nav, .events.show nav {
    background-color: #000;
    border: 0 none;
    position: absolute;
}
.home nav .second-menu, .events.show nav .second-menu {
    background-color: transparent;
    border: 0 none;
}
.home nav .btn-nav, .events.show nav .btn-nav {
    border: 2px solid #fff;
    color: #fff;
}
.home nav .btn-nav:hover, .home nav .btn-nav:focus, .home nav .btn-nav:active, .home nav .btn-nav.active, .home nav .open .dropdown-toggle.btn-nav, .events.show nav .btn-nav:hover, .events.show nav .btn-nav:focus, .events.show nav .btn-nav:active, .events.show nav .btn-nav.active, .events.show nav .open .dropdown-toggle.btn-nav {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}
.home nav.shrink, .events.show nav.shrink {
    background-color: #101010;
    border-bottom: 1px solid #333;
}
.home nav.shrink .second-menu, .events.show nav.shrink .second-menu {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.home nav.shrink .second-menu a, .events.show nav.shrink .second-menu a {
    color: #101010;
}
.home ul.social-buttons-nav li a, .events.show ul.social-buttons-nav li a {
    color: #fff;
}
@media (min-width: 768px) {
nav {
    background-color: #000;
}
nav .box {
    padding-bottom: 40px;
    padding-top: 40px;
}
.home nav, .events.show nav {
    background-color: transparent;
}
.menu-left {
    width: 50%;
}
.menu-right {
    left: 50%;
    width: 50%;
}
}
.home header {
    height: 100%;
}
body {
    display: none;
}
#jpreOverlay {
    background-color: #fff;
    background-image: url("/assets/logo-loader-5fa13b5b70067eb0b628f813501b69ba50029daf46a180dc1262d214ba2ac885.png");
    background-position: center center;
    background-repeat: no-repeat;
}
#jpreSlide {
    color: #ccc;
    font-size: 22px;
    font-weight: bold;
    height: 30%;
    text-align: center;
    width: 50%;
}
#jpreLoader {
    height: 4px;
    width: 100%;
}
#jpreBar {
    animation: 2s linear 0s normal none infinite running progress;
    background-color: #000;
}
#jprePercentage {
    color: #ccc;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    top: -100%;
}
#jpreButton {
    background-color: #23a6ed;
    background-image: linear-gradient(to bottom, #23a6ed 0%, #1275aa 100%);
    border: 1px solid #2eacea;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 auto;
    padding: 3px 10px;
    text-align: center;
    text-shadow: -1px -1px 0 #01293f;
    width: 100px;
}
@keyframes progress {
0% {
    background-position: 0 0;
}
100% {
    background-position: -60px -60px;
}
}
@keyframes progress {
0% {
    background-position: 0 0;
}
100% {
    background-position: -60px -60px;
}
}
@media (min-width: 768px) {
h1 {
    font-size: 36px;
}
header .swiper-caption {
    padding: 50px;
    width: 50%;
}
section .section-subinfo {
    text-align: left;
}
}
@media (min-width: 1200px) {
header {
    height: 617px;
}
.grid .grid-item .grid-caption {
    border-right: 1px solid #ddd;
}
.grid .grid-item .ph.md {
    height: 309px;
}
section .slider {
    height: 504px;
}
section#events .year p.year-number {
    color: #fff;
    font-size: 68px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(0px, -50%);
    width: 50%;
}
}
